/* components/NavBar.module.css */
.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
    padding: 10px 0;
    
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navItem {}

.navLink {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}

.navLink:hover {
    background-color: #555;
}

.skipNavLink {
    position: absolute;
    top: -40px;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1;
}

.skipNavLink:focus {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 8px 16px;
    background-color: #0070f3;
    color: white;
    z-index: 1001;
    text-decoration: none;
    border-radius: 4px;
}