
:root {
  --primary-color: #77BBDE; 
  --secondary-color: #DE77BB; 
  --third-color: #BBDE77;
  --background-color: #f8f9fa; 
  --text-color: #212529; 
}

:root[data-colorblind="true"] {
  --primary-color: #375E97; 
  --secondary-color: #FB6542; 
  --third-color: #FFBB00;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  left: 0;
  top: 0;
  padding: 0;
}
